[submodule "dependencies/limine"]
	path = kernel/dependencies/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = binary
[submodule "dependencies/edk2"]
	path = kernel/dependencies/edk2
	url = https://github.com/tianocore/edk2.git
